a {
	text-decoration: none;
}
.bottomlivechate{
	z-index: 10;
	position: fixed;
	background: #ff8641;
	border-radius: 10px 10px 0px 0px;
	width: 230px;
	height: 40px;
	bottom: 0px;
	right: 60px;	
}
.bottomlivechate img{
	width: 200px;
	padding-left: 35px;
}

.producttoggle{
	width: 70px;
	background: #f8fdf1;
	z-index: 10;
	position: fixed;	
	top: 260px;	
	right: 20px;
	cursor: pointer;	
}

.producttoggle img{
	width: 70px;	
	height: 50px;
}

.producttoggle span{	
	color: black; 	
	font-size: 15px;
	padding-left: 25px;

	 
}


.egg{
	cursor: pointer;
}

.header{	
	position: fixed;
	z-index: 10;	
	width: 100%;
}

 

.sitebar{ 
	height: 100vh;
	background: #ffffff;
	border-right: 0.1px solid lightgray;
	font-size: 14px;	
	font-family: 'Open Sans', sans-serif;	
	box-sizing: border-box;
}

.sitebar a{	
	text-decoration: none;
}


@media only screen and (max-width: 767px) {
  .sitebar{
  	display: none;
  }
  .sitemanu{
  	display: none;	
  }
}


.sitebartop{
	padding-left: 25px;
	line-height: 23px;
	margin-top: 10px;
	margin-bottom: 10px;		
}

.sitebartop span{
	color: red;
	font-size: 12px;	
	border: 1px solid red;	
	padding: 2px 5px;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
}


.ptop:hover{	
	cursor: pointer;	
	background: linear-gradient(to right,#fff 0,#ccc 100%);
}
.hr{
	border-bottom: 1px solid lightgray;	
	
}

.sitebartopto{
	padding-left: 10px;	
	line-height: 25px;
	margin-top: 8px;	
}

.sitebartopto img{
	width: 20px;
	height: 20px;
	margin-right: 6px;
}


.sitelist:hover{	
	cursor: pointer;	
	background: linear-gradient(to right,#fff 0,#ccc 100%);
}

.sitelist span{
	z-index: 2;
	position: fixed;
	left: 200px;
	font-size: 12px;
	width: 8px;
}
 
body{	
	overflow-y: hidden;	
}


.bodytext{
	display: flex;
}

.sitemanu{
	width: 266px;
	cursor: pointer;
	font-size: 16px;	
	height: 100vh;
	border-right: 1px solid lightgray;	
	line-height: 30px;
}

 

.textbody{	
	overflow-y: scroll;
	overflow-x: hidden;
	margin-top: 60px;	
	width: 100%;
	height: calc(100vh - 55px);	
}



.topimage{
	position: relative;
	z-index: 2;	
}

.textbody img{
	width: 100%;	
}

.imgtoptext{	
	position: absolute;
	z-index: 3;	
	color: #000;
    font-size: 40px;    
    text-align: center;
    top: 20%;
	left: 20%;
}


.imgtoptext input{
	width: 95%;	
	border-radius: 8px;
	font-size: 15px;
	outline: 0;
	padding: 10px;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
}


.outproductcatagorytext{
	font-size: 24px;
	color: rgba(0,0,0,.95);
	text-align: center;
	padding: 20px;
}

.producatagory{
	display: grid;
  	grid-template-columns: 1fr 1fr 1fr;  
  	font-size: 18px;  	
  	text-align: center;
  	grid-gap: 10px;
  	padding: 15px;  	
}

.pd{
	padding: 30px;
	border: 1px solid lightgray;
	cursor: pointer;
	box-sizing: border-box;
	position: relative;
}

.pd img{
	position: absolute;
	width: 35px;
	height: 35px;
	margin-left: 20%;
	box-sizing: border-box;
	right: 10px;
}

.sliimg{
	padding: 100px;
}


.grid-iteme img{
	width: 45%;
	height: 90%;	
}


.family{	
	font-size: 20px;
	text-align: center;
	margin-top: 150px;
}



.gridmin{
	display: flex;
	width: 99%;
	background: #ececec;
}

.gridmin img{
	width: 35px;
}

.gridmin span{
	padding-top: 5px;
}
 

.pay{
	margin-left: auto;
}

.buttomchal{
	display: grid;
  	grid-template-columns: 6fr 3fr; 	  	
  	font-size: 15px;
  	margin-top: 20px;
  	background: #ececec;
  	padding: 60px 0px 0px 15px;
  	margin-top: -5px;
  	height: 400px;
}

.lestsection{
	padding-left: 10px;
	line-height: 23px;
}

.lestsection img{
	width: 140px;
}

.rightsection{
	 
}


.customerservicetable{
	display: grid;
  	grid-template-columns: 1fr 1fr 1fr; 
  	margin-top: 50px;
}

.playstore{
	width: 300px;
	display: flex;
	margin: 0 auto;
}


.rightsection img{
	width: 160px;
	height: 50px;	
}
 
.phonenumber{
	color: black;
	position: relative;
	font-size: 25px;
	text-align: right;	
	top: 20px;
}

.phonenumber p{
	font-size: 19px;
}

.youtube{
	display: flex;
}

.youtube img{
	position: relative;
	left: 130px;
	top: 50px;
	width: 50px;
	margin-left: 10px;
}



.bottomspachblack{
	height: 50px;
}



.loginsystem{
	z-index: 10;
	position: fixed;
	top: 90px;
	left: 400px;
	background: #ffffff;
	width: 400px;
	height: 500px;
	border-radius: 10px;
	box-shadow: 4px 0px 12px 9px #738888b0, 3px 3px 0 0 #b5bfbfcf inset;
}

.loginheader{
	padding: 25px;
	font-size: 20px;
}

.logclone{
	position: absolute;
	right: 24px;
	top: 22px;
	cursor: pointer;
}

.facebook{
	margin: 0 auto;
	width: 90%;
	background: #3e4e7c;
	color: white;
	text-align: center;
	font-size: 15px;
	padding: 23px;
	border-radius: 6px;
	cursor: pointer;
}

.facebook:hover{
	background: #364472;
}

.email{
	margin: 0 auto;
	width: 90%;	
	color: black;
	text-align: center;
	font-size: 15px;
	padding: 22px;
	border-radius: 6px;
	border: 1px solid black;
	margin-top: 13px;
	cursor: pointer;
}

.email:hover{
	background: #f3f3f3;
}

hr{
	margin-top: 30px;
	width: 356px;
}
.or{
	font-size: 16px;
	position: absolute;
	height: 20px;
	right: 200px;
	background: white;	
	width: 40px;
	text-align: center;
	padding: 5px;
	top: 245px;
}

.plcenter{
	color: black;
	text-align: center;
	font-size: 15px;
	margin-top: 35px;
}



.numberinput{	
	margin-left: 30px;
}

.eg{
	text-align: center;
	padding: 5px;
}

.numberinput input{
	width: 94%;
	height: 45px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid black; 
	font-size: 18px;
	padding-left: 14px;
}


.logsubmit{
	background: #eb484b;
	margin: 0 auto;
	width: 90%;	
	color: white;
	text-align: center;
	font-size: 15px;
	padding: 20px;
	border-radius: 6px;
	border: 1px solid black;
	margin-top: 13px;
	cursor: pointer;
}

.logbootmnot{
	width: 95%;
	text-align: center;
	padding: 3px;
	font-size: 13px;
	margin: 0 auto;
}


 
.selectcity{
	font-size: 26px;
	padding: 20px;
}

.citytab{
	display: grid;
  	grid-template-columns: 1fr 1fr; 	
  	grid-template-rows: 1fr 1fr;
  	grid-gap: 15px; 
  	padding: 0px 0px 0px 20px; 
  	width: 95%; 
  	cursor: pointer;	  	
}

.d{	
	padding: 10px;
	text-align: right;
	font-size: 25px;
	font-weight: bold;
	width: 100%;
	margin: 0 auto;	
	border-bottom: 1px solid lightgray;
}

 




 .aidtop{
 	display: grid;
  	grid-template-columns: 2fr 1fr; 	
  	padding: 10px;
 }

 .aidtopleft img{
 	width: 250px;
 }


 .txt1{
 	font-size: 32px;
 	color: #59ba98;
 }
 .txtred{
 	color: red;
 }

 .txt2{
 	font-size: 16px;
 }

 .dxtbutton{
 	cursor: pointer;
 	margin-top: 12px;
 	max-width: 230px;
 	padding: 10px;
 	font-size: 14px;
 	background: #ff686e;
 	color: white;
 	text-align: center;
 	border-radius: 10px;
 }

 

.aidcomverpic {
  position: relative;  
  color: white;  
}
 

 

.aidcomvertext {	
	position: absolute;
	top: 15%;	
	right: 50px;
	text-align: right;	
}

.welcome{
	font-size: 50px;
}
.foodaid{
	font-size: 60px;
	font-weight: bold;
}

.aplatform{
	font-size: 20px;
 }


.welcombtn{
	cursor: pointer;
	display: flex;	
	margin-left: 460px;
	margin-top: 20px;
}


 .donet_btn{ 	
 	cursor: pointer;
 	width: 110px;
 	padding: 15px 10px 15px 15px;
 	border-radius: 5px; 	
 	background: #ff686e;
 	text-align: center;
 	font-weight: bold;
 	margin-right: 20px;

 }

 .reqfood_btn{
 	cursor: pointer;
 	width: 160px;
 	padding: 15px 10px 15px 15px;
 	border-radius: 5px; 	
 	background: #ff686e;
 	text-align: center;
 	font-weight: bold;
 }


.how_we_help{	
	color: black;
	text-align: center;
	font-size: 20px;	 
}

.by_building{
	color: black;
	text-align: center;
	font-size: 16px;	
}

.accept_donet_3col{
	display: grid;
  	grid-template-columns: 1fr 1fr 1fr; 	
  	text-align: center;
}




.baby_comver_pic {
  position: relative;  
  color: white;  
}
.baby_comver_text {	
	position: absolute;
	top: 15%;	
	right: 5%;	
	font-size: 18px;
	text-align: center;
	padding: 35px;
}




.milion_box{
	display: grid;
  	grid-template-columns: 1fr 1fr 1fr;  	
  	text-align: center;
  	color: black;
  	font-size: 30px;
}

 .milion span{
 	font-weight: 700;
    font-size: 35px;
    color: #f7941d;
    text-shadow: -4px 6px 5px rgb(0 0 0 / 20%);
 }

 .milion p{
 	color: black;
 	font-size: 14px;
 	width: 50%;
 	margin: 0 auto;
 	line-height: 20px;
 }

 .no_act_kindness{
 	text-align: center;
 	color: black;
 	font-size: 15px;
 	margin-top: 30px;
 	margin-bottom: 30px;
 }


.mission_vission{
	display: grid;
  	grid-template-columns: 1fr 1fr;   	
  	grid-column-gap: 10px;
  	padding: 10px;
}



.category_filter_title{
	padding: 25px;
	font-size: 20px;
	color: black;
}


.category_tap_multi{
	display: grid;
  	grid-template-columns: 1fr 1fr 1fr 1fr;   	
  	grid-gap: 6px;
  	padding: 0px 30px;  	
  	width: 80%;

}

.category_tap{
	width: 200px;
	height: 45px;
	border: 1px solid lightgray;
	padding: 15px;
	position: relative;
	cursor: pointer;	 
}

.category_tap:hover{
	border: 1px solid #ff686e;
}


.category_tap img{
	width: 20px;
	height: 20px;
	margin-right: 6px;
	position: absolute;
	right: 10px;
}	


.special_offer_title{
	padding: 25px;
	font-size: 25px;
	color: black;
}


.special_offer_product{
	display: grid;
  	grid-template-columns: 3fr 1fr;   	
  	grid-gap: 2px;
  	width: 600px;
  	border: 1px solid lightgray;
  	margin-left: 30px;  
  	margin-bottom: 15px;	
}

.special_offer_product:hover{
	box-shadow: -1px 1px 6px 2px #738888b0, 3px 3px 194px -940px #b5bfbfcf;
	cursor: pointer;
}

.offer_product{
	position: relative;
}

.addcard_border_shadow{
	display: none;	
}

.details{
	display: none;
	position: absolute;
	top: 200px;
	margin-left: -14px;
	margin-top: 60px;
	background: white;
	color: black;
	padding: 5px;
	text-align: center;
	width: 156px;
	font-size: 16px;
	border: 1px solid lightgray;
}
.offer_product:hover .details{
	display: block;
}

.offer_product:hover .addcard_border_shadow{
	display: block;
	opacity: .60;
	background: black;
	margin-top: 7px;
	height:240px;
	width: 157px;	
	left: -14px;
	position: absolute;
	z-index: 3;
	top: 10px;
	padding: 60px 30px 30px 30px;
	color: white;
	font-size: 25px;
	text-align: center;
}


.offer_product_img img{
	height: 360px;
	padding: 18px;
}

.kg50{
	font-size: 15px;
	text-align: center;
}

.kg{
	margin-top: 25px;
	text-align: center;
	font-size: 13px;
}

.price{
	margin-top: 20px;
	text-align: center;
	font-size: 20px;
	color: red;
	font-weight: bold;
}

.add_to_bag{
	text-align: center;
	font-size: 14px;
	width: 155px;
	cursor: pointer;
	border-radius: 5px;
	padding: 7px;
	border: 1px solid lightgray;
	color: #ff686e;
	position: absolute;
	right: 8px;	
}

.add_to_bag img{
	width: 30px;
	height: 20px;
	position: absolute;
	left: 10px;
}









.top_img img{
	width: 640px;
	height: 220px;	
	margin-left: 20%;
}

.popular_title{
	padding-left: 20px;
	font-size: 16px;
	font-weight: bold;
}

  
.popular_product{
	max-width: 200px;	
	margin-left: 30px;
	cursor: pointer;
	position: relative;
}
.product_name{
	text-align: center;
	font-size: 14px;
}
.popular_kg{
	text-align: center;
	font-size: 14px;
	margin-top: 30px;
}
.popular_price{
	text-align: center;
	font-size: 20px;
	font-weight: bold;	
	color: red;
}
.popular_add_bag{
	text-align: center;
	width: 120px;
	padding: 6px;
	margin-top: 40px; 	
	margin: 0 auto;
	border: 1px solid lightgray;
	color: #ff686e;
}
.popular_add_soppping_bag{
	display: none;
}

.popular_product:hover .popular_add_soppping_bag{
	display: block;
	position: absolute;
	width: 100%;
	height: 260px;
	background: gray;
	top: 10px;
	opacity: .50;
	border-radius: 3px;
	font-size: 25px;
	text-align: center;
	color: white;
	padding: 70px 10px 0px 10px; 
}

.popular_details{
	display: none;
}

.popular_product:hover .popular_details{
	display: block;
	position: absolute;
	width: 100%;
	padding: 10px;
	color: black;
	background: white;
	top: 69%;
	text-align: center;	
	border-radius: 3px;	
	border: 1px solid lightgray;
}

 .popular_product_tap_grid{
 	display: grid;
  	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;   	
  	grid-gap: 5px;
 }




 .product_details_toggle{
 	z-index: 5;
 	position: fixed;
 	background: white;
 	border-radius: 5px;
 	width: 72%;
 	height: 520px; 	
 	top: 55px;
 	left: 180px;
 	box-shadow: 4px 0px 12px 9px #73888869, 3px 3px 0 0 #d8dada38 inset;
 }


 .productdetails_close{
 	cursor: pointer;
 	font-size: 40px; 	
 	position: absolute; 	
 	padding: 10px;
 	color: black;
 	right: 10px;
 	top: -10px;
 	width: 40px;
 	height: 40px;
 	text-align: center;
 }

 .details_toggle_product{
 	position: absolute;
 	right: 21px;
 	top: 22px;
 }

 .details_toggle_product span{
 	font-size: 30px;
 	margin-right: 50px; 
 	text-align: left;	
 }